version: 2.1
orbs:
  cypress: cypress-io/cypress@1
workflows:
  build:
    jobs:
      - cypress/install:
          yarn: true
          build: yarn build
      - cypress/run:
          yarn: true
          no-workspace: true
