.h5peditor-dragquestion-wrapper {
  position: relative;
}

.dragQuestion {
  position: relative;
}

.dragQuestion .h5peditor-dragnbar {
  font-size: 1em;
  overflow: hidden;
  background: #f5f5f5;
  border: 1px solid #ccc;
  border-bottom: none;
}

.dragQuestion .h5p-dragnbar-ul {
  float: left;
  padding: 0;
  margin: 0;
  list-style: none;
}

.dragQuestion .h5p-dragnbar-li {
  float: left;
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
}

.dragQuestion .h5p-dragnbar-a {
  width: 1em;
  line-height: 1.5em;
  text-align: center;
  background: linear-gradient(to bottom,#fff 0,#f2f2f2 100%);
  border: 1px solid #ccc;
  border-radius: 0.25em;
  margin: 0.25em;
  display: block;
  padding: 0.25em 0.75em;
  color: #333;
}

.dragQuestion .h5p-dragnbar-a:hover {
  text-decoration: none;
  border-color: #999;
}

.dragQuestion .h5p-dragnbar-a:link, .dragQuestion .h5p-dragnbar-a:visited  {
  color: #555;
}
.dragQuestion .h5p-dragnbar-a:before {
  font-family: 'H5PFontAwesome4';
  content: "?";
}
.dragQuestion .h5p-dragnbar-a:hover {
  text-decoration: none;
}
.dragQuestion .h5p-dragnbar-advancedtext-button:before {
  font-size: 1.125em;
  font-weight: bold;
  content: "T";
}
.dragQuestion .h5p-dragnbar-image-button:before {
  content: "\f03e";
}
.dragQuestion .h5p-dragnbar-dropzone-button:before {
  content: "\f140";
}

.h5peditor-dragquestion {
  padding: 0.5em 1em;
}
.h5peditor-dragquestion.h5p-ready {
  padding: 0;
  background-size: 100% 100%;
  background-color: #FFFFFF;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 0;
  overflow: hidden;
}

.h5peditor-dragquestion .h5p-dragnbar-element.focused,
.h5peditor-dragquestion .h5p-dragnbar-element:focus {
  outline-offset: -2px;
}

.h5p-dq-element {
  position: absolute;
  line-height: 1.25em;
  z-index: 1;
  background: #fff;
  cursor: pointer;
}

.h5p-dq-element .h5p-dq-element-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.h5p-dq-element.h5p-advanced-text {
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
}
.h5p-dq-element.h5p-draggable {
  border-radius: 0.5em;
  border: 0.1em solid #c6c6c6;
  cursor: pointer;
  position: absolute;
  text-align: center;
  padding: 0.3em 0.3em;
  line-height: 1.25em;

  background: #ddd ;

  box-shadow: 0 0 0.3em rgba(0,0,0,0.2);
  z-index: 3;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.h5p-dq-element.h5p-draggable:hover {
  border: 0.1em solid rgb(212,190,216);
  color: #663366;
  background: #edd6e9;
}


.h5p-draggable > ul {
  text-align: left;
  margin: 0.5em 0.5em 0.5em 2.25em;
  padding: 0;
}

.h5p-draggable > ul > li {
  background: transparent;
  list-style: disc outside none;
  padding: 0;
  margin: 0;
}

.h5p-dq-element p {
  margin: 0;
  padding: 0;
}
.h5p-dq-element span {
  line-height: 1em;
}
.h5p-dq-dz {
  cursor: pointer;
  position: absolute;
  border: 0.1em dashed #999;
  border-radius: 0.5em;
  z-index: 2;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: rgb(245, 245, 245);
}

.h5p-dq-dz.h5p-has-label {
  border-radius: 0 0 0.5em 0.5em;
}
.h5p-dq-dz .joubel-tip-container {
  position: absolute;
  right: .2em;
  bottom: .2em;
}
.h5p-dq-dz .joubel-tip-container .joubel-tip-icon {
  line-height: inherit;
  width: auto;
  height: auto;
}

.h5peditor-dragquestion .h5p-moving {
  opacity: 0.75;
}

.h5p-dq-label {
  position: absolute;
  bottom: 100%;
  font-size: 0.75em;
}

.h5peditor-fluid-dialog {
  display: none;
  background: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 0 4px #a7a7a7;
  -moz-box-shadow: 0 0 4px #a7a7a7;
  box-shadow: 0 0 4px #a7a7a7;
}
.h5peditor-fd-inner {
  padding: 0.5em;
}
.h5peditor-fd-buttons {
  overflow: hidden;
  border-top: 1px solid #ccc;
  background: #f5f5f5;
}
a.h5peditor-fd-button {
  font-size: 0.75em;
  float: right;
  padding: 0.625em 2em;
  margin: 0.5em;
  border-radius: 0.25em;
  border: 1px solid #ccc;
  color: #fff;
  background: #3673B5;
  background: -webkit-linear-gradient(top,#5A94D3 0,#3673B5 100%);
  background: -moz-linear-gradient(top,#5A94D3 0,#3673B5 100%);
  background: -ms-linear-gradient(top,#5A94D3 0,#3673B5 100%);
  background: -o-linear-gradient(top,#5A94D3 0,#3673B5 100%);
  border-color: #20588F;
}
a.h5peditor-fd-button:hover {
  background: #3275bc;
  background: -webkit-linear-gradient(top,#3275bc 0,#285585 100%);
  background: -moz-linear-gradient(top,#3275bc 0,#285585 100%);
  background: -ms-linear-gradient(top,#3275bc 0,#285585 100%);
  background: -o-linear-gradient(top,#3275bc 0,#285585 100%);
}
a.h5peditor-fd-button.h5peditor-remove {
  background: none;
  border: none;
  color: #a00;
  padding-right: 0;
}
a.h5peditor-fd-button.h5peditor-remove:hover {
  color: #e40000;
}
.h5p-dq-dz-label {
  background: none repeat scroll 0 0 #ddd;
  margin-bottom: 0.1em;
  line-height: 1.25em;
  padding-left: 0.5em;
  position: absolute;
  bottom: 100%;
  left: -0.1em;
  right: -0.1em;
  white-space: nowrap;
  border-radius: 0.5em 0.5em 0 0;
}

.h5peditor-dynamiccheckboxes-select, .h5peditor-dynamiccheckboxes-select > li {
  margin: 0;
  padding: 0;
  list-style: none;
  background: transparent;
}
.h5peditor-dynamiccheckboxes-select > li {
  margin: 0.1em 1em;
}
.h5peditor-dynamiccheckboxes-select > li > .h5p-editor-label {
  font-weight: normal;
}
.h5peditor-dynamiccheckboxes-select > li > .h5p-editor-label > input,
.h5peditor-dynamiccheckboxes-select .h5p-label-text {
  vertical-align: middle;
  display: inline-block;
}
.field.dynamicCheckboxes .h5p-selectall {
  font-size: 0.75em;
}
