@CHARSET "UTF-8";

.joubel-speech-bubble {
  position: absolute;
  top: 0;
  left: 0;
  color: #333;
  z-index: 301;
  margin-top: 0.45em;
  min-width: 1em;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.joubel-speech-bubble.show {
  opacity: 1;
}

.joubel-speech-bubble-inner {
  background: #fbfbfb;
  box-shadow: 0 0 0.5em #2c2c2c;
  border-radius: 0.5em;
  padding: 0.2em 0.5em;
  text-align: left;
  position: relative;
  word-wrap: break-word; /* Long words have to break */
}
.joubel-speech-bubble-inner:before,
.joubel-speech-bubble:before {
  content: "";
  position: absolute;
  /* Setting these in pixels is intentional. We use it when calculating placement of bubble */
  right: 10px;
  top: -6.5px;
  width: 18px;
  height: 18px;
  background: #fbfbfb;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.joubel-speech-bubble:before {
  box-shadow: 0 0 0.5em #2c2c2c;
}
