@CHARSET "UTF-8";

@font-face {
  font-family: 'Joubel';
  src:url('../fonts/joubel.eot?-evicw4');
  src:url('../fonts/joubel.eot?#iefix-evicw4') format('embedded-opentype'),
    url('../fonts/joubel.woff?-evicw4') format('woff'),
    url('../fonts/joubel.ttf?-evicw4') format('truetype'),
    url('../fonts/joubel.svg?-evicw4#tips') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Styling of button */
.h5peditor .ui-dialog .h5p-joubelui-button,
.h5peditor .h5p-joubelui-button,
.h5p-joubelui-button {
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0.5em 1em;
  padding: 0.5em 1.25em;
  border-radius: 2em;

  background: #1a73d9;
  color: #ffffff;

  cursor: pointer;
  border: none;
  box-shadow: none;
  outline: none;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.h5p-joubelui-button:first-child {
  margin: 0 0.5em 1em 0;
}

.h5p-joubelui-button:last-child {
  margin: 0 0 1em 0.5em;
}

.h5p-joubelui-button:first-child:last-child {
  margin: 0 0 1em;
}

/* Truncated buttons */
.h5p-joubelui-button.truncated {
  width: 2.235em;
  height: 2.235em;
  border-radius: 50%;
  padding: 0;
  text-align: center;
}

.h5p-joubelui-button.truncated:before {
  padding: 0;
}

.h5p-joubelui-button:hover,
.h5p-joubelui-button:focus {
  background: #1356a3;
}
.h5p-joubelui-button:active {
  position: relative;
  background: #104888;

  -webkit-box-shadow: inset 0 4px 0 #0e407a;
  -moz-box-shadow: inset 0 4px 0 #0e407a;
  box-shadow: inset 0 4px 0 #0e407a;
}
.h5p-joubelui-button:active .h5p-joubelui-button-text {
  position: relative;
  top: 2px;
}

.h5p-joubelui-button:before {
  font-family: 'H5PFontAwesome4';
  padding-right: 0.5em;
}

.h5p-question-try-again:before {
  content: "\F01E";
}

.h5p-question-show-solution:before {
  content: "\F06E";
}

.h5p-question-check-answer:before {
  content: "\F058";
}
